* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
/* .logo img {
  width: 138px;
  height: 30px;
} */
/* .right_nav {
  margin-left: -10%;
} */
@media screen and (max-width: 1146px) {
  .front_view_text button {
    margin-top: -2%;
    font-size: 1rem;
  }
  .front_view_text h1 {
    font-size: 3rem !important;
  }
  .front_view_text p {
    font-size: 1.8rem !important;
  }
  .girl_image img {
    margin-top: 7%;
  }
  .text h2,
  button {
    margin-top: -13%;
  }
  .man_text h1,
  p,
  button {
    margin-top: -7%;
  }
  .man_img {
    margin-top: 2%;
  }
  .man_text h1 {
    font-size: 2rem;
  }
  .man_text p {
    font-size: 1.6rem !important;
  }
}
@media screen and (max-width: 600px) {
  .front_view_text {
    margin-left: -6%;
  }

  .front_view_text h1 {
    font-size: 2.2rem !important;
  }
  .front_view_text p {
    font-size: 1.5rem !important;
  }
  .front_view_text button {
    font-size: 0.9rem !important;
    cursor: pointer;
    border-radius: 30px;
  }
  /* .front_view {
    height: 60vh !important;
  } */
  /* .front_view_text {
    padding-bottom: 3% !important;
  } */

  .front-text button {
    font-size: 0.8rem;
    cursor: pointer;
  }
  .front-text button:hover {
    background: #00c9a8;
    color: #ffffff;
  }
  .student_hour {
    margin-left: -15%;
  }
  .card-title {
    font-size: 1.2rem;
  }
  .name-icon p,
  i {
    font-size: 1.2rem;
  }

  .girl_image img {
    margin-top: 4.5%;
    width: 80%;
  }
  .text h2,
  button {
    margin-top: -15%;
  }
  .text h2 {
    font-size: 1.8rem;
  }
  .text button {
    font-size: 1.2rem;
  }
  .product_card {
    padding: 3% 0;
  }
  .girl_with_text .text {
    padding: 3% 5%;
  }
  .girl_with_text .text h2 {
    font-size: 1.5rem;
    margin-top: 2%;
  }
  .girl_with_text .girl_image img {
    width: 100%;
    margin-left: 4%;
  }
  .girl_with_text .text button {
    font-size: 0.9rem;
  }
  .girl_with_text .girl_image {
    padding: 1% 3% 0 0;
  }
  .certificate h1 {
    font-size: 1.9rem;
  }
  .certificate img {
    width: 65% !important;
  }
  .man_with_text .man_text {
    margin-left: -13%;
  }
  .man_with_text .man_text h1 {
    font-size: 1.7rem;
  }
  .man_with_text .man_text p {
    font-size: 1.3rem !important;
  }
  .man_with_text .man_text button {
    font-size: 1rem;
  }
  .man_with_text .man_img img {
    width: 200%;
    margin-left: -9%;
  }
  .footer .logo_with_btn img {
    width: 120%;
    margin: 8% 0 0 0;
  }
}
.front_view {
  background-image: url("../images/Landing Page BG 1.png");
  height: 80vh;
}
.front_view_text {
  left: -7%;
  position: relative;
  top: 30%;
  text-align: center;
}
.front_view_text h1 {
  font-size: 4.5rem;
}
.front_view_text p {
  font-size: 2.1rem;
}
.front_view_text button {
  cursor: pointer;
  margin-left: 16%;
  border-radius: 30px;
}
/* search example */
/* Mobile devices */

/* dropdown code */

.dropbtn {
  color: #424242;
  background-color: #fffafa;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
/* product section */
.front-text {
  padding: 3% 10% 0 7.5%;
  display: flex;
  justify-content: space-between;
}
.front-text button {
  cursor: pointer;
  background: #ffffff;
  border-radius: 30px;
  border: 2px solid #00c9a8;
  color: #00c9a8;
}
.front-text button:hover {
  background: #00c9a8;
  color: #ffffff;
}
.front-text h2 {
  color: #3a3a3a;
  margin-left: 3%;
}
.product {
  display: flex;
  justify-content: space-evenly;
  padding: 2% 10%;
  font-weight: 700;
}
.student_hour {
  display: flex;
  justify-content: space-between;
}
.card {
  border-radius: 15px;
  background: #eeeeee;
}
.name-icon {
  display: flex;
  justify-content: space-between;
  padding: 0 5% 0 0;

  font-size: 1.5rem;
}
.name-icon p {
  margin-left: 5%;
}
/* girl with text */
.girl_with_text {
  padding: 5% 10% 0 10%;
  background-color: #ededed;
}
.text {
  line-height: 10px;
  padding: 9% 0;
  font-size: 1.2rem;
}
.text button {
  cursor: pointer;
  background: #00c9a8;
  color: #fff;
  border-radius: 30px;
  margin: 2% 0 0 3%;
}
.text h2 {
  padding: 0 2%;
}
.girl_image img {
  text-align: center;
  width: 60%;
  margin-left: 27%;
}
.table-bordered {
  color: #1c1c1c;
}
.certificate {
  padding: 2% 5%;
}
.certificate img {
  width: 40%;
  padding: 4%;
}
.certificate h1 {
  text-align: center;
  font-weight: 500;
  padding: 2% 0;
  margin-left: 0;
}
.man_with_text {
  padding: 2% 10%;
  background: #ededed;
}
.man_img img {
  width: 120%;
}
.man_text {
  padding: 7% 3% 2% 3%;
}
.man_text h1 {
  font-weight: 700;
}
.man_text p {
  font-size: 1.7rem;
}
.man_text button {
  background: #00c9a8;
  font-weight: 500;
  color: #ffffff;
  border-radius: 30px;
  cursor: pointer;
}
.man_text button,
h1,
p {
  margin-left: 15%;
}
.footer {
  padding: 3% 5%;
  background: #004a3e;
}
.footer_2nd {
  text-align: end;
}
.logo_with_btn img {
  width: 50%;
}
.footer_text {
  text-align: left;
  margin-left: 0%;
  color: #e5e5e5;
}
.footer_text p {
  text-align: left;
  margin-left: 0%;
}

.hr {
  border-top: 1px solid #00c9a8;
}
.footer_text .h6 {
  color: #00c9a8;
}
